<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "ttps://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

 -->
<div class="container">
  <div class="row">
    <div class="main-div mt-3">
      <div class="col-12 col-md-6 mt-2">
        <div class="d-flex justify-content-center">
          <%= link_to "SKATEZAR", root_path, class: "index-title"%>
        <% if user_signed_in? %>
          <%= link_to "SELL", new_item_path, class: "ml-3 navbar-btns sell-link"%>
          <li class="nav-item dropdown ml-3" style="list-style: none;">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
          <%= link_to "SELL", new_item_path, class: "ml-3 navbar-btns sell-link"%>
          <!-- Button trigger modal -->
          <button type="button" class="ml-3 navbar-btns login-btn" data-toggle="modal" data-target="#exampleModal">LOGIN</button>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-2">
        <div class="d-flex justify-content-center search-div-new">
          <input type="text" class="search-barr">
          <button type="submit" class="search-button" placeholder="New Real Board 8.18">
          <i class="fas fa-search"><span class="search-text ml-2">SEARCH</span></i></button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <%= link_to "LOGIN", new_user_session_path, class: "ml-3 navbar-btns login-btn" %>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  @media only screen and (min-width: 1000px) {
  .main-div{
    display:flex;
  }
}

@media (min-width: 768px){
  .col-md-6{
    max-width: 100%;
  }
}

.index-title{
  font-size:22px;
  color: black;
  margin-bottom: 10px;
}

.index-title:hover{
  color:black;
  text-decoration: none;
  opacity: 0.5;
}
</style>
